@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  touch-action: manipulation;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
